sync.xql
bower_components
/build/old_rita-new-1.0.xar
/tryouts/hansi.xql
/tryouts/*.html
/WhoAreYou.rdf
/build/rita-new-1.0.xar
/build/old_rita-new-1.0.xar
/build/kongress-1.0.xar
/data/editions/oko.xml
*/.DS_Store
/tryouts/play.xql
about/
build/
/about
/newProject.xpr
sync-code.xql
venv/