/* Application styles could go here */
html{
    height:100%;
}
body{
    display:flex;
    flex-direction:column;
    height:100%;
    background-color:#fdfdfd;
}
header{
    flex:0 0 auto;
    background-color:#F8F8F8;
    color:#ffffff;
}

#ph{
    padding:0px 20px 30px; 
    position:fixed;
    top:5%; 
    left:0; 
    z-index:2000; 
    width:100%;
}

#splash {
    margin-bottom: 0px;
    color: #fff;
    background: url('../../resources/img/map.svg') center no-repeat; 
    background-size: cover; 
    position:absolute; 
    height: 16em;
    overflow: hidden;
    text-align:center;
    top:0;
    left:0;
    z-index:100;
}

.main-content{
    flex:1 0 auto;
}

span.data-hr {
    background-color: #ffff00;
}

.shortRdg {
    color:red;    
}

.fullRdg {display:none;}
               .shortRdg:hover { position: relative; }
               .shortRdg:hover .fullRdg {    display: block; 
                    text-decoration: none;
                    color: black;
                    width: 50em;
                    border: 1px solid black;
                    background: white;
                    position: absolute;
                    padding: 0.5em; 
                    left: inherit; }

footer{
    flex:0 0 auto;
    background-color:#333; /*#F8F8F8*/
    color:#ffffff;
    font-size:13px;
    padding:20px;
    /* position: absolute;*/
    left:0;
    right:0;
    width:100%;
    margin-top:10px;
}
footer .poweredby { float: right; margin: 33px 10px 0 0;}
footer .poweredby img { width: 120px; }