/* Application styles could go here */

html{
    height:100%;
}
.ed{
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif!important;
    font-size:1.8rem;
}
body{
    display:flex;
    flex-direction:column;
    height:100%;
    background-color:#fdfdfd;
}
header{
    flex:0 0 auto;
    background-color:#F8F8F8;
    color:#ffffff;
}

#ph{
    padding:0px 20px 30px; 
    position:fixed;
    width: 104vw;
            left: 50%;
            right: 50%;
            margin-left: -52vw;
            margin-right: -52vw;
    top:5%; 
    z-index:2;
}

.widetable{
    width: 160%;
    margin: 0 -10em;
}

.hr {
    font-size:smaller;
    text-align:right;
    display:block;
    margin-top:3em;
    margin-bottom:5em;
    border-top:1px solid #ccc;
    border-spacing:10px;
}



.splash {
height:60vw;
    background: url('../../resources/img/map.svg') center no-repeat; 
    background-position: top;
    background-size: auto; 
    z-index:0;
}

.transl {
    background:rgba(156,255,255,0.2);
}

.main-content{
    flex:1 0 auto;
}

span.data-hr {
    background-color: #ffff00;
}

.shortRdg {
    color:red;    
}

td {border-left: 1px;}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 2em 0;
    padding: 0; 
}

.fullRdg {display:none;}
               .shortRdg:hover { position: relative; }
               .shortRdg:hover .fullRdg {    display: block; 
                    text-decoration: none;
                    color: black;
                    width: 50em;
                    border: 1px solid black;
                    background: white;
                    position: absolute;
                    padding: 0.5em; 
                    left: inherit; }

footer{
    flex:0 0 auto;
    background-color:#333; /*#F8F8F8*/
    color:#ffffff;
    font-size:13px;
    padding:20px;
    /* position: absolute;*/
    left:0;
    right:0;
    width:100%;
    margin-top:10px;
}
footer .poweredby { float: right; margin: 33px 10px 0 0;}
footer .poweredby img { width: 120px; }

h1,h2 {
    font-family: Gill,GillSans,"Gill Sans",Trebuchet,"Trebuchet MS",Helvetica,Arial,sans-serif;
    font-weight:bold;
}
/* 
@font-face {
  font-family: "Brandonbld";
  font-style: normal;
  font-weight: 400;
  src: url("https://www.oeaw.ac.at/typo3conf/ext/oeaw_website/Resources/Public/Fonts/Brandon_bldWeb.woff") format("woff");
}
 */

@media (min-width: 1024px) {
    .container{
        max-width: 860px;
    }
}