<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"/>
        <!--scroll to top start-->
        <link rel="stylesheet" href="../resources/js/scroll-to-top/css/ap-scroll-top.min.css"/>
        <link rel="stylesheet" type="text/css" href="../resources/css/style.css"/>
        <script src="../resources/js/scroll-to-top/js/ap-scroll-top.min.js"/>
        <!--scroll to top end -->
        <script type="text/javascript" src="$app-root/resources/js/custom.js"/>
        <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
        <script type="text/javascript">
                window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"index.html","theme":"dark-bottom"};
            </script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"/>
        <!-- End Cookie Consent plugin -->
        <!-- Matomo -->
			<script type="text/javascript">
			  var _paq = _paq || [];
			  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			  _paq.push(['trackPageView']);
			  _paq.push(['enableLinkTracking']);
			  (function() {
				var u="https://matomo.acdh.oeaw.ac.at/";
				_paq.push(['setTrackerUrl', u+'piwik.php']);
				_paq.push(['setSiteId', '104']);
				var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
				g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
			  })();
			</script>
		<!-- End Matomo Code -->

    </head>
    <body id="body">
        <noscript>
            <p style="font-size:72pt;font-family:Helvetica,Arial,Sans,sansserif;font-decoration:bold">Ohne JavaScript funktioniert die Darstellung der gesamten Edition leider nicht.</p>
        </noscript>
        <header>
            <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Navigation ein/aus</span>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                    <span class="icon-bar"/>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown" id="about">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="show.html?document=about.xml&amp;directory=meta&amp;stylesheet=meta">Über diese Webseite</a>
                            </li>
                            <li>
                                <a href="imprint.html">Impressum/Imprint</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" id="toc">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inhaltsverzeichnis</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="show.html?document=Einleitung.xml&amp;directory=meta">Einleitung</a>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="toc.html?collection=editions">Dokumente</a>
                                <ul class="dropdown-menu">
                                    <li>
                                    <a href="toc.html?collection=editions&amp;filterstring=A">Kongress von Aachen 1818</a>
                                </li>
                            <li>
                                    <a href="toc.html?collection=editions&amp;filterstring=T">Kongress von Troppau/Opava 1820</a>
                                </li>
                            <li>
                                    <a href="toc.html?collection=editions&amp;filterstring=L">Kongress von Laibach/Ljubljana 1821</a>
                                </li>
                            <li>
                                    <a href="toc.html?collection=editions&amp;filterstring=V">Kongress von Verona 1822</a>
                                </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="toc.html?collection=meta">Bestandsbeschreibungen</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="show.html?document=BestandsbeschreibungAachen.xml&amp;directory=meta">Kongress von Aachen 1818</a>
                                    </li>
                                    <li>
                                        <a href="show.html?document=BestandsbeschreibungTroppau.xml&amp;directory=meta">Kongress von Troppau/Opava 1820</a>
                                    </li>
                                    <li>
                                        <a href="show.html?document=BestandsbeschreibungLaibach.xml&amp;directory=meta">Kongress von Laibach/Ljubljana 1821</a>
                                    </li>
                                    <li>
                                        <a href="show.html?document=BestandsbeschreibungVerona.xml&amp;directory=meta">Kongress von Verona 1822</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="regesten.html">Regesten</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="regesten.html?collection=editions&amp;filterstring=A">Kongress von Aachen 1818</a>
                                    </li>
                                    <li>
                                        <a href="regesten.html?collection=editions&amp;filterstring=T">Kongress von Troppau/Opava 1820</a>
                                    </li>
                                    <li>
                                        <a href="regesten.html?collection=editions&amp;filterstring=L">Kongress von Laibach/Ljubljana 1821</a>
                                    </li>
                                    <li>
                                        <a href="regesten.html?collection=editions&amp;filterstring=V">Kongress von Verona 1822</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="toc.html?collection=meta">Über die Edition</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="show.html?document=Einleitung.xml&amp;directory=meta">Einleitung</a>
                                    </li>
                                    <li>
                                        <a href="show.html?document=Einleitung_kurz.xml&amp;directory=meta">Kurzeinleitung</a>
                                    </li>
                                    <li>
                                        <a href="show.html?document=Editionsrichtlinien.xml&amp;directory=meta">Editionsrichtlinien</a>
                                    </li>
                                    <li>
                                        <a href="show.html?document=about.xml&amp;directory=meta">Zur technischen Umsetzung</a>
                                    </li>
                                    <li>
                                        <a href="show.html?document=Danksagung.xml&amp;directory=meta">Danksagung</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="index.html#mapped">Überblickskarte</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Register</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="persons.html">Personenregister</a>
                            </li>
                            <li>
                                <a href="places.html">Ortsregister</a>
                            </li>
                            <li>
                                <a href="orgs.html">Institutionenregister</a>
                            </li>
                            <li>
                                <a href="bibl.html">Verzeichnis der verwendeten Quellen</a>
                            </li>
                            <li>
                                <a href="treaties.html">Verzeichnis der Verträge</a>
                            </li>
                            <li>
                                <a href="show.html?document=Literatur.xml&amp;directory=meta">Gesamtbibliografie</a>
                            </li>
                            <li>
                                <a href="regesten.html">Regesten</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Analyse</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="calendar.html">Kalenderansicht</a>
                            </li>
                            <li>
                                <a href="timeline.html">Zeitleiste</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data endpoints</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="../../../../exist/restxq/kongress/editions/xml">Text als XML</a>
                            </li>
                            <li>
                                <a href="../../../../exist/restxq/kongress/editions/json">Text als JSON</a>
                            </li>
                            <li>
                                <a href="../../../../exist/restxq/kongress/dt/editions/json">Datatables API-Endpoint</a>
                            </li>
                            <!--<li>
                                <a href="../analyze/cmfi2net.xql">Network Data (GEFX)</a>
                            </li>-->
                            <li>
                                <a href="../analyze/beacon.xql">VIAF Beacon</a>
                            </li>
                            <li>
                                <a href="../analyze/timeline.xql">Zeitleiste</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Autocompletes</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="../ac/entity-ac.xql?query=">Personen</a>
                            </li>
                            <li>
                                <a href="../ac/entity-ac.xql?entity=place&amp;query=">Orte</a>
                            </li>
                            <li>
                                <a href="../ac/entity-ac.xql?entity=org&amp;query=">Institutionen</a>
                            </li>
                            <li>
                                <a href="../ac/entity-ac.xql?entity=treaties&amp;query=">Verträge</a>
                            </li>
                            <li>
                                <a href="../ac/entity-ac.xql?entity=witnesses&amp;query=">Quellen</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="pull-right">
                    <form method="get" action="ft_search.html" class="navbar-form" id="pageform">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" name="searchexpr" placeholder="Volltextsuche" pattern=".{3,}" required="" title="Mindestens 3 Zeichen, Trunkierung mit ? für 1 Zeichen, * für 0-n Zeichen"/>
                            </div>
                            <button type="submit" class="btn btn-primary">Suche</button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        </header>
        <section class="main-content">
            <div id="content" class="container"/>
            <div id="loadModal"/>
        </section>
        <footer>
            <div class="row">
                <div class="row text-center">
                    <div class="col-md-2">
                        <a href="https://www.oeaw.ac.at/inz/" class="navlink" target="_blank">
                            <img src="../resources/img/inzlogo_1.png" alt="INZ"/>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="https://www.oeaw.ac.at/acdh/" class="navlink" target="_blank">
                            <img src="../resources/img/acdh_logo_02.png" alt="ACDH" width="40%"/>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="https://github.com/KONDE-AT/maechtekongresse/" class="navlink" target="_blank">
                            <img src="../resources/img/GitHub-Mark-Light-64px.png" alt="github" width="15%"/>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="https://www.fwf.ac.at/de/" class="navlink" target="_blank">
                            <img src="../resources/img/fwf-logo_vektor_var2-01.svg" alt="FWF" width="85%"/>
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a href="http://exist-db.org/" class="navlink" target="_blank">
                            <img src="../resources/img/existdb.png" alt="eXist-db" width="45%"/>
                        </a>
                    </div>
                </div>
            </div>

            <script>
                /*script for loading the content of the modal */
                $(document).ready(function(){
                    var multiperstrigger = $(".reference-multi-person");
                    $(multiperstrigger).click(function(){
                        var dataKey = $( this ).attr('data-key');
                        var url = "../analyze/multi-person.xql?ix="+dataKey;
                        $('#loadModal').load(url, function(){
                            $('#myModal').modal('show');
                        });
                    });
                    var multiorgtrigger = $(".reference-multi-org");
                    $(multiorgtrigger).click(function(){
                        var dataKey = $( this ).attr('data-key');
                        var url = "../analyze/multi-org.xql?ix="+dataKey;
                        $('#loadModal').load(url, function(){
                            $('#myModal').modal('show');
                        });
                    });
                    var multitreattrigger = $(".reference-multi-treaties");
                    $(multitreattrigger).click(function(){
                        var dataKey = $( this ).attr('data-key');
                        console.log(dataKey);
                        var url = "../analyze/multi-treaties.xql?ix="+dataKey;
                        $('#loadModal').load(url, function(){
                            $('#myModal').modal('show');
                        });
                    });
                    var trigger = $('a[data-type]');
                    $(trigger).click(function(){
                        var dataType = $( this ).attr('data-type');
                        var dataKey = $( this ).attr('data-key');
                        var xsl = dataType.replace(".xml", "");
                        var baseUrl = "showNoTemplate.html?directory=indices&amp;document="
                        var url = baseUrl+dataType+"&amp;entiyID="+dataKey;
                        $('#loadModal').load(url, function(){
                            $('#myModal').modal('show');
                        });
                    });
                });
            </script>
            <script type="text/javascript">
                $(window).on('load', function(){
                    $('#myModal').modal('show');
                });
            </script>
        <!-- scroll-up-bottom -->
            <script type="text/javascript">
                   // http://www.jqueryscript.net/animation/jQuery-Plugin-For-Fixed-Positioned-Scroll-To-Top-Button-ap-scroll-top.html
                   // Setup plugin with default settings
                   $.apScrollTop({
                       'onInit': function(evt) {
                              // console.log('apScrollTop: init');
                           }
                       });
            </script>
            <script type="text/javascript">
            </script>
        <!-- scroll-up-bottom end -->
            <script type="text/javascript">
            // Taken from https://stackoverflow.com/a/2587356
            // Remove some of the superfluous whitespace that gets inserted
            // after last child nodes in mixed content due to exist-db whitespace handling.
            // This tackles a couple of issues but not all of them.
            jQuery.fn.cleanWhitespace = function() {
                this.contents().filter(
                function() { return (this.nodeType == 3 &amp;&amp; !/\S/.test(this.nodeValue)); })
                .remove();
                return this;
            }
            $('a:has(span), span:has(a)').cleanWhitespace();
            </script>
        </footer>
    </body>
</html>